*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
.chat-container{
    width: 100%;
    height: 35rem;
    background-color:rgb(19, 67, 110);
    /* rgb(19, 67, 110) */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}
.user-chat-box{
    width: 60%;
    position: relative;
    left: 40%;
}
.ai-chat-box{
    width: 60%;
    position: relative;
}
.user-chat-area{
    width: 90%;
    background-color:rgba(0, 0, 0, 0.49);
    color: rgba(255, 255, 255, 0.622);
    border-radius:40px 0px 40px 40px;
    box-shadow: 2px 2px 10px black;
    padding: 10px;
}
.ai-chat-area{
    width: 90%;
    background-color: rgba(45, 37, 37, 0.49);
    position: relative;
    left: 10%;
    color: rgba(255, 255, 255, 0.622);
    border-radius:0px 40px 40px 40px;
    box-shadow: 2px 2px 10px black;
    padding: 10px;

}
#userimage{
    position: absolute;
    right: 0;
    filter: drop-shadow(2px 2px 10px black);
}
#aiimage{
    position: absolute;
    left: 0;
    filter: drop-shadow(2px 2px 10px black);
}
.prompt-area{
    background-color:rgb(19, 67, 110);
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 141px;
}
.prompt-area input{
    background-color:rgba(0, 0, 0, 0.49);
    width: 45%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 20px;
    color: white;
    font-size: 15px;
    box-shadow: 2px 2px 10px black;
}
.prompt-area button{
    height: 50px;
    width: 50px;
    border-radius:50%;
    background-color:rgba(0, 0, 0, 0.49);
    outline: none;
    border: none;
    box-shadow: 2px 2px 10px black;
    align-items: center;
    padding-left: 2px;
    padding-top: 3px;
    cursor: pointer;
}
.prompt-area button:hover{
    background-color:rgba(57, 56, 56, 0.49);
}
.load{
    filter: drop-shadow(2px 2px 10px black);
}